= render 'shared/header'
%section.main
  %h1.main__text
    %span Work hard
    %span See results.
%section.about
  .about__title
    %span About
  .about__content
    .about__left-box
    .about__right-box
      .about__description
        %h1 Bulk Historyとは？
        %h4
          Bulk Historyはシンプルなワークアウトの記録アプリです。
        %h4
          あなただけのトレーニングメニューを作成。
        %h4
          簡単にトレーニングを記録。
        %h4
          日々の積み重ねを可視化し、トレーニングの継続をサポートします。
        %h4
          あなたも今すぐ記録を開始しましょう。
        %h4
          Work hard, See results.
      - if user_signed_in?
        .about__btn--active
          = link_to 'My Workouts', new_training_menu_path, class: 'link'
      - else
        .about__btn
          = link_to 'Sign Up', new_user_registration_path, class: 'submit-btn link'
= render 'shared/footer'

