%footer.footer
  .footer__nav
    %ul.footer__ul
      %li.footer__li
        = link_to 'Home', root_path, class: 'link item'
      %li.footer__li
        = link_to 'Company', '#', class: 'link item'
      %li.footer__li
        = link_to 'Contact', '#', class: 'link item'